@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
:root{
    --color-primary: rgb(0, 119, 255);
}
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(240, 239, 239);
}
img{
    display: block;
    width: 100%;
}
.profile-picture{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
.btn{
    display: inline-block;
    transition: all 300ms ease;
}
.btn:hover{
    opacity: 0.7;
}

/*=============================================*/
@media screen and (max-width: 1000px) {
    .contact{
        display: none;
    }
    main .feeds{
        margin-right: 0;
    }
    nav .chat_win{
        left: 5rem;
    }
    .button_form_story{
        flex-direction: column;
    }
}

@media screen and (max-width: 750px) {
    .suggested{
        display: none;
    }
    main .feeds{
        margin-left: 0;
    }
}

@media screen and (max-width: 650px) {
    main .feeds{
        place-items: start;
    }
    main .feeds .stories{
        width: 500px;
    }
    main .feeds .post{
        width: 500px;
    }
    main .feeds .feeds_card{
        width: 500px;
        place-items: start;
    }
    main .feeds .feeds_card .feed{
        margin-left: 0;
        margin-right: 0;
        width: 500px;
    }

}